html,body,#app{
  height: 100%;
}

.router-enter-active {
    transition: all .3s ease;
}

.router-leave-active {
    transition: all .3s ease;
}

.router-enter,
.router-leave-active {
    opacity: 0;
}

.goup-container {
    z-index: 200;
    background: #2c3e50 !important;
}
